@model CajaAhorro.Web.Models.BankCompanyViewModel

@{
    ViewData["Title"] = "Delete";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fas fa-trash"></i> Delete Account
            <small>@Model.AccountNumber</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index"><i class="fas fa-piggy-bank"></i> Account</a></li>
            <li class="active">Delete</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to delete the account <b>@Model.AccountNumber</b>?</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.AccountNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AccountNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.TypeAccountName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TypeAccountName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bank.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Bank.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Company.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Company.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CheckNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CheckNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Deleted)
                    </dt>
                    <dd>
                        @if (Model.Deleted)
                        {
                            <span class="label label-danger">Inactive</span>
                        }
                        else
                        {
                            <span class="label label-success">Active</span>
                        }
                    </dd>
                </dl>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" value="Delete" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
                    <a asp-action="Index" class="btn btn-info"><i class="fas fa-arrow-left"></i> Back to List</a>
                </form>
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->